.badge {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  aspect-ratio: 1;

  font-family: sans-serif;
  color: white;

  border-radius: 100%;
  background-color: blue;
}
